html, body {
  height: 100%;
  margin: 0;
}

.mainPageFlexContainer {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.mainPageFlexHeader {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.mainPageFlexBody {
    flex: 1 1 auto;
}

.mainPageFlexFooter {
    flex: 0 1 30px;
}

.mainBody {
    display: flex;
    flex-flow: row;
    height: 100%;
}

.mainArea {
    flex: 2 1 auto;
}

.secondaryArea {
    flex: 1 1 auto
}

.mainBodyClasses {
    background-color: aliceblue;
    height: 100%;
}

.mainBodyMessages {
    background-color: darkkhaki;
    height: 50%;
}

.mainBodyFiles {
    background-color: lightcoral;
    height: 50%;
}