:root {
  --color-background: #f5f5fa;
  --color-primary: #f2f2fc;
  --color-secondary: #bdece6;
  --color-tertiary: #bccef8;
  --color-quaternary: #d1c3f9;
  --color-accent: #0029a5;
  --color-error: #f37979;
  --color-delete: #f65050;
  --color-destructive: #f52020;
  --color-success: #7dca7d;
  --color-subtle-grey: #eee;
  --main-header-height: 60px;
  --class-header-search-width: 300px;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* https://stackoverflow.com/a/6466399 */
/* When filtering posts in class detail, the content
 * will sometimes jump if scroll bar appears and
 * disappears. As a workaround, we're always displaying
 * the scroll bar */
html { overflow-y: scroll; }

body {
  background-color: var(--color-background);
}

/**
 * Loading HUD page 
 **/

.loadingMain {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Login page 
 **/

.loginMain {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginLogo {
  margin-bottom: 60px;
}

.loginContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

.loginHUDCentered {
  width: fit-content;
  margin-left: 28%;
}

.loginErrorContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: var(--color-error);
  font-size: 1rem;
}

.card {
  padding: 10px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

/**
 * Main page (Container)
 **/

.mainPageFlexContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

.mainPageFlexHeader {
  height: var(--main-header-height);
  display: flex;
  flex-flow: row;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

.mainBody {
  min-height: calc(100vh - var(--main-header-height));
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

/**
 * Classes page 
 **/

.classesSectionContainer {
  margin-top: 20px;
}

.classesSectionTitle {
  font-size: 0.875rem;
  font-weight: lighter;
  letter-spacing: 0.2em;
  color: var(--color-accent);
  margin-left: 15px;
}

.classesSectionTitleUnderline {
  width: calc(100% - 30px);
  height: 1px;
  background-color: var(--color-accent);
  margin-left: 15px;
  margin-right: 15px;
}

.classesSectionInnerContainer {
  display: flex;
  flex-flow: row wrap;
}

.classClickableGenericCard:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.floatingCardAddNew {
  position: fixed;
  bottom: 30px;
  right: 30px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 999px;
  background-color: var(--color-secondary);
}

.floatingCardAddNew:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

/**
 * Class detail page
 */

.classDetailHeader {
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 1;
}

.classDetailHeaderImage {
  position: absolute;
  top: 0px;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  object-fit: cover; /* Crop when scaling */
  object-position: left; /* Crop when scaling */
}

.classDetailHeaderTitleSearchContainer {
  position: absolute;
  left: 15px;
  bottom: 8px;
  display: flex;
  align-items: center;
}

.classDetailHeaderTitle {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.classDetailHeaderSearchForm {
  margin-left: 24px;
  width: var(--class-header-search-width);
}

.classDetailHeaderSearchForm input {
  font-size: 1.4em;
  outline: none;
  border: none;
  opacity: 0.5;
  border-radius: 3px;
  width: 100%;
}

.classDetailHeaderSearchForm .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: var(--class-header-search-width); /* 100% won't work (it will fill the entire flex container, including title) even if I put the whole search form inside a div with explicit width (?)*/
  opacity: 1;
}

/* expandable underline effect -> see Form-related section */

.classDetailHeaderSearchForm input:focus,
.classDetailHeaderSearchForm input:valid {
  opacity: 0.8;
}

.classDetailHeaderTopIcons {
  position: absolute;
  right: 30px;
  top: 8px;
}

.classDetailHeaderIcon {
  display: inline-block;
  font-size: 1.5em;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 3px;
}

.classDetailHeaderIcon:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.classDetailBodyContainer {
  display: flex;
  flex-direction: row;
}

.classDetailBodyColumn1 {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.classDetailEntry {
  position: relative;
  padding: 8px;
}

.classDetailEntryTitle {
  color: #222;
  font-size: 0.875rem;
  font-weight: lighter;
  letter-spacing: 0.2em;
  padding-left: 4px;
}

.classDetailEntryContent {
  padding-top: 8px;
  padding-bottom: 4px;
}

.classDetailEntryFiles {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  width: 100%;
}

.classEntryFile {
  background-color: var(--color-subtle-grey);
  border-radius: 3px;
  padding: 4px;
  position: relative;
  margin: 8px;
}

.classEntryFile:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.classEntryFileImage {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 4px;
}

.classEntryFileRightContainer {
  display: inline-block;
}

.classEntryFileTitle {
  font-size: 0.875rem;
  color: var(--color-accent);
  margin-right: 4px;
}

.classEntryFileSubtitle {
  font-size: 0.7rem;
  color: var(--color-accent);
}

.classDetailEntryFootNote {
  position: absolute;
  right: 8px;
  bottom: 2px;
  color: #555;
  font-size: 0.6rem;
  font-weight: lighter;
}

.classDetailEntryAssignment {
  background-color: var(--color-quaternary);
}

.classDetailEntryAssignment:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.classDetailAssignmentTitle {
  padding: 8px;
  font-size: 1.325em;
  text-align: center;
}

.classDetailAssignmentDueDate {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 8px;
}

.classDetailEntryTopRightContainer {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
}


.classDetailEntryTopRightUnit {
  font-size: 0.7em;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 999px;
  background-color: var(--color-tertiary);
}

.classDetailEntryTopRightEdit {
  padding: 3px;
}

.classDetailEntryTopRightEdit:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
  
}

.classDetailBodyColumn2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  padding-top: 15px;
}

.classDetailSectionTitle {
  color: var(--color-accent);
}

.classDetailSectionUnderline {
  height: 1px;
  width: 90%;
  background-color: var(--color-accent);
}

.classDetailBubbleButton {
  padding-right: 10px;
  width: 85%;
  text-align: center;
  border-radius: 999px;
  background-color: var(--color-secondary);
}

.classDetailBubbleButton:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.classDetailSectionSubitem {
  position: relative;
  padding-left: 5px;
  margin-right: 30px;
  padding-right: 50px;
  overflow-wrap: break-word;
}

.sectionSubitemPaddingTopBottomMedium {
  padding-top: 18px;
  padding-bottom: 16px;
}

.sectionSubitemPaddingTopBottomSmall {
  padding-top: 4px;
  padding-bottom: 6px;
}

.classDetailSectionSubitem:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.classDetailSectionSubitemEditBtn {
  font-weight: bold;
  height: 90%;
  position: absolute;
  right: 5px;
  top: 0px;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  margin-top: 3px;
}

.classDetailSectionSubitemEditBtn:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.classDetailSectionAssignmentDueDateCapsule {
  display: inline-block;
  font-size: 0.6em;
  background-color: var(--color-quaternary);
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 1px;
  margin-left: 1px;
  border-radius: 999px;
}

.addParticipant {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding-right: 10px;
  width: 200px;
  text-align: center;
  border-radius: 999px;
  background-color: var(--color-secondary);
}

.addParticipant:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.participantsContainer {
  display: flex;
  flex-wrap: wrap;
}

.participantsSearchContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 260px;
  overflow-y: scroll;
}

.emptyParticipants {
  padding: 30px;
}

/**
 * Posts board (Class detail page)
 */

.postsBoardContainer {
  width: 96%;
  margin-left: 2%;
  margin-top: 15px;
}

.postsBoardPublishButton {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 18px;
  padding-bottom: 20px;
  width: calc(100% - 20px);
  text-align: center;
  border-radius: 999px;
  background-color: var(--color-secondary);
}

.postsBoardPublishButton:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.createOrEditPostFormContainer {
  margin-left: 10px;
  margin-right: 10px;
}

/**
 * Assignment detail page
 */

.assignmentDetailTitleHeader {
  margin-top: 25px;
  margin-left: 15px;
}

.assignmentDetailBodyContainer {
  display: flex;
  flex-direction: row;
}

.assignmentDetailBodyColumn1 {
  width: 25%;
}

.assignmentDetailLeftPane {
  margin-top: 10px;
  margin-right: 25px;
}

.assignmentDetailLeftPaneTitle {
  font-weight: bold;
  font-size: 0.875em;
}

.assignmentDetailBodyColumn2 {
  width: 75%;
}

.assignmentDetailBodyFilesTitle {
  font-weight: light;
  font-size: 0.875em;
  margin-top: 50px;
  margin-left: 8px;
  margin-bottom: 5px;
}

.assignmentDetailBodyFiles {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.assignmentDetailTitle {
  font-size: 2.25em;
  font-weight: light;
  margin-right: 30px;
}

.assignmentDetailDueDate {
  margin-top: 5px;
  margin-bottom: 5px;
}

.assignmentDetailContent {
  font-size: 1.125em;
  margin-top: 15px;
  margin-right: 30px;
}

.submitAssignmentButton {
  margin-top: 30px;
  padding-top: 10px;
  text-align: center;
  border-radius: 999px;
  background-color: var(--color-secondary);
}

.submitAssignmentButton:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.assignmentCell {
  padding: 4px;
  margin-top: 4px;
}

.assignmentCell:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.assignmentCellUsername {
  font-size: 0.7em;
}

.assignmentCellStatus {
  display: inline-block;
  font-size: 0.7em;
  border-radius: 999px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
}

.assignmentOk {
  background-color: var(--color-quaternary);
}

.assignmentKo {
  background-color: var(--color-delete);
}

.assignmentSubmitDialogAuthorFullName {
  display: inline-block;
  margin-top: 12px;
}

.assignmentSubmitDialogAuthorUsername {
  display: inline-block;
  margin-left: 6px;
  font-size: 0.875em;
}

.assignmentSubmitDialogDate {
  margin-top: 2px;
}

.assignmentSubmitDialogFilesTitle {
  margin-top: 8px;
}

.assignmentSubmitDialogCommentTitle {
  margin-top: 8px;
}

.assignmentSubmitDialogSectionContent {
  margin-left: 12px;
  margin-top: 4px;
  margin-right: 8px;
  font-size: 0.875em;
}

.assignmentSubmitDialogFiles {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

/**
 * Files page
 */

.myFilesElementContainer {
  position: relative;
  padding: 10px;
  margin: 6px;
  border-radius: 6px;
  background-color: var(--color-subtle-grey);
}

.myFilesElementContainerHoverable:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

.myFilesElementTitleContainer {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.myFilesElementIcon {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.myFilesElementName {
  word-break: break-word;
}

.myFilesElementSize {
  font-size: 0.75em;
  margin-left: 32px;
}

.myFilesElementSpecialText {
  color: #444;
  font-size: 0.54em;
  margin-left: 32px;
  margin-bottom: 2px;
  letter-spacing: 0.15em;
}

.filesFirstTabElement {
  text-align: center;
  padding: 32px;
  margin: 6px;
  border-radius: 6px;
  background-color: var(--color-subtle-grey);
}

.filesFirstTabTitle {
  font-size: 1.5em;
  padding: 6px;
}

.filesFirstTabSubtitle {
  font-size: 0.75em;
  color: #666;
  padding-top: 4px;
}

.emptyFolderTab {
  text-align: center;
  padding: 32px;
  margin: 6px;
  border-radius: 6px;
  background-color: var(--color-subtle-grey);
}

.filesElementUnselected {
  background-color: var(--color-subtle-grey);
}

.filesElementSelected {
  background-color: var(--color-tertiary);
}


.filesElementThreeDotsImg {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 4px;
  margin-top: 4px;
  padding: 6px;
  width: 38px;
  height: 38px;
  border-radius: 999px;
}

.filesElementThreeDotsImg:hover {
  cursor: pointer;
  background-color: #ccc
}

.tabbedActivityFilesEmptyFooter {
  height: 70px;
}

/**
 * Admin page
 */

.adminBodyColumn1 {
  width: 20%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
}

.adminColumn1GoBack {
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-accent);
  display: grid;
  place-content: center;
  font-size: 1.125rem;
}

.adminColumn1GoBack:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.adminColumn1MenuItem {
  height: 100px;
  background-color: var(--color-secondary);
  display: grid;
  place-content: center;
  font-size: 1.375rem;
}

.adminColumn1MenuItem:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.adminBodyColumn2 {
  width: 80%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.adminBodyColumn2Content {
  min-height: calc(100% - 24px);
  margin: 12px;
  background-color: var(--color-primary);
}

.adminSubpanelList {
  display: flex;
  flex-flow: row wrap;
}

.userCard {
  position: relative;
  height: 200px;
  width: 190px;
}

.userCardUsername {
  font-size: 1rem;
}

.userCardName {
  font-weight: bold;
  font-size: 1.5rem;
}

.userCardTagsContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
}

.userCardTag {
  font-weight: bolder;
  font-size: 0.5rem;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 999px;
  /* https://stackoverflow.com/a/18795153 */
}

.userCardTagSysAdmin {
  background-color: #700092;
}

.userCardTagSchoolLeader {
  background-color: #dd1313;
}

.userCardTagTeacher {
  background-color: #0029a5;
}

.userCardTagStudent {
  background-color: #009715;
}

.userCardTagStudentGroup {
  background-color: #006d0f;
}

.userCardDeleteButton {
  position: absolute;
  top: 1px;
  right: 2px;
}

.userCardDeleteButton:hover {
  cursor: pointer;
  background-color: var(--color-destructive);
}

.genericCard {
  position: relative;
  height: 180px;
  width: 300px;
}

.genericCardPreTitle {
  font-size: 1.125rem;
}

.genericCardTitle {
  font-weight: bold;
  font-size: 1.375rem;
}

.genericCardFooter {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.75rem;
}

.genericCardSkirtingBoard {
  width: 100%;
  height: 44px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.cardClickable:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.adminAddButtonHeader {
  width: 250px;
  text-align: center;
  padding: 12px;
}

.adminAddButtonHeader:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.hint {
  padding-top: 12px;
  padding-left: 4px;
  color: #222222;
  font-size: 11px;
}

/**
 * Error page
 **/

.errorPageMain {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generalErrorContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

.generalErrorMessage {
  font-size: 1rem;
  text-align: center;
}

/**
 * Global user feedback bubble
 */

.globalUserFeedback {
  opacity: 1;
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 250px;
  text-align: start;
  padding: 12px;
  border-radius: 0px;
  animation: globalUserFeedback 3s infinite;
  animation-iteration-count: 1;
}

.globalUserFeedbackInfo {
  background-color: var(--color-secondary);
}

.globalUserFeedbackSuccess {
  background-color: var(--color-success);
}

.globalUserFeedbackError {
  background-color: var(--color-error);
}

@keyframes globalUserFeedback {
  0% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/**
 * Form-related
 * https://codepen.io/Metty/pen/NWpzexj
 */

.formInput,
.formSubmit {
  width: 100%;
  height: 40px;
  position: relative;
}

.formInput input {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-top: 15px;
  background-color: var(--color-secondary);
  border-radius: 5px;
}

.formInput input:focus ~ label,
.formInput input:valid ~ label {
  transform: translateY(-23px);
  font-size: 14px;
  color: var(--color-accent);
}

.formInput label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 15px;
  margin-left: 10px;
  transition: all 0.3s ease;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

input:focus ~ .underline:before,
input:valid ~ .underline:before {
  transform: scale(1);
}

.formInputRadio {
  margin: 10px 4px 4px 4px;
}

.formInputRadio label {
  font-size: 16px;
  margin-left: 10px;
}

.formInputSelect {
  position: relative;
}

.formInputSelect select {
  appearance: none;
  background-color: var(--color-secondary);
  font-size: 15px;
  min-width: 110px;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
}

.formInputSelect::after {
  content: "▼";
  font-size: 0.6em;
  top: 9px;
  right: 9px;
  position: absolute;
  pointer-events: none;
}

.formInputSelect option {
  font-size: 15px;
}

.formInputColor input {
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
}

.formSubmit input {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  margin-top: 35px;
  background-color: var(--color-secondary);
}

.formSubmitNoMarginTop input {
  margin-top: 0px;
}

.formSubmit input:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.formTextArea textarea {
  margin-top: 8px;
  padding: 3px;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-family: inherit;
  border: 1px solid var(--color-secondary);
  overflow: auto;
}

.formTextAreaBig textarea {
  height: 280px;
}

.formTextAreaSmall textarea {
  height: 70px;
}

.formFiles {
  margin-top: 8px;
  width: 100%;
}

.formFilesAttached {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  width: 100%;
}

.formFilesDropableArea {
  margin-top: 4px;
  padding-top: 15px;
  text-align: center;
  height: 60px;
  width: 100%;
  border: 3px dashed white;
}

.formFilesDropableAreaActive {
  background-color: var(--color-secondary);
}

.dropFilesAreaItem {
  background-color: white;
  border-radius: 999px;
  padding-left: 4px;
  padding-right: 24px;
  position: relative;
}

.dropFilesAreaItemTitle {
  font-size: 0.875rem;
  color: var(--color-accent);
}

.dropFilesAreaItemSubtitle {
  font-size: 0.7rem;
  color: var(--color-accent);
}

.dropFilesAreaItemDeleteButton {
  position: absolute;
  right: 0;
  top: 0;
}

.dropFilesAreaItemDeleteButton:hover {
  cursor: pointer;
  background-color: var(--color-destructive);
}

/**
 * Dialog-related
 */

.popupOverlayBackground {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.popup {
  position: absolute;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.popup::-webkit-scrollbar {
  display: none;
}

.widePopup {
  width: 80%;
}

.dialogBackground {
  background-color: var(--color-background);
}

.dialogTitle {
  font-size: 34px;
  margin-left: 10px;
}

.formInputSelectHidden {
  display: none;
}

.selectWithTopMargin {
  margin-top: 15px;
}

.addUserSelect {
  margin-left: 35px;
}

.twoOptionsDialogChoice {
  text-align: center;
  padding: 20px;
}

.twoOptionsDialogChoice:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.dialogHUDCentered {
  width: fit-content;
  margin-left: 42%;
}

.dialogScreenHUDCentered {
  width: fit-content;
  margin-left: 46%;
}

.buttonDelete {
  width: 100%;
  height: 40px;
  position: relative;
}

.buttonDelete button {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  margin-top: 12px;
  background-color: var(--color-delete);
}

.buttonDelete button:hover {
  cursor: pointer;
  background-color: var(--color-destructive);
}

.areYouSureOption {
  box-shadow: none;
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border-radius: 0px;
  background-color: var(--color-secondary);
}

.areYouSureOption:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.areYouSureOptionDestructive {
  background-color: var(--color-delete);
}

.areYouSureOptionDestructive:hover {
  cursor: pointer;
  background-color: var(--color-destructive);
}

.areYouSureOptionDangerouslyConstructive {
  background-color: #62c95a;
}

.areYouSureOptionDangerouslyConstructive:hover {
  cursor: pointer;
  background-color: #2eea20;
}

.createPostSelect select {
  appearance: none;
  background-color: #000;
}

.postFormFirstRowInputsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.formInputCreatePostTitle {
  /* Override default .formInput input selector
   * margin-top, as this is exceptionally contained
   * in a flexbox.
   * Without important, it won't work */
  margin-top: 0 !important;
}

.formInputGreyBackground {
  /* Override default .formInput input selector
   * Without important, it won't work */
  background-color: #ddd !important;
}

.formInputCreatePostTaskDate {
  margin-top: 0 !important;
  font-size: 0.9em !important; /* Override 17px from .formInput input*/
  appearance: none;
  font-family: inherit;
}

.formInputDivCreatePostTaskDate {
  max-width: 120px;
}

.contextMenu {
  position: absolute;
  top: 38px;
  right: 0;
  z-index: 3;
  margin: 2px;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.contextMenuItem {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 40px;
}

.contextMenuItem:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

.dialogScrollableFixedHeightSection {
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 55vh;
}

/**
 * Tabbed activity
 */

.tabbedActivityOuterContainer {
  width: 100%;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tabbedActivityHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  width: 100%;
}

.tabbedActivityHeaderItem {
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 50px; /* Vertically center text via setting line-height same height as container */
}

.tabbedActivityHeaderItem:hover {
  cursor: pointer;
  background-color: var(--color-tertiary);
}

.tabHeaderItemActive {
  background-color: var(--color-secondary);
}

.tabbedActivityContainer {
  /* Assumed to be displayed within a card */
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
}

.tabbedActivityTabContent {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.firstTab {
  margin-left: 0;
  transition-property: margin-left;
  transition-duration: 0.8s;
}

.firstTab.tabSelectedIs0 {
  margin-left: 0;
}

.firstTab.tabSelectedIs1 {
  margin-left: -100%;
}

.firstTab.tabSelectedIs2 {
  margin-left: -200%;
} /* ...we would need more of these if ever used in TabbedActivity */

/**
 * Animated button (inspired in form)
 */

.animatedButtonContainer {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.animatedButtonContainer button {
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0);
}

.animatedButtonContainer .animatedButtonUnderline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.animatedButtonContainer .animatedButtonUnderline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--color-accent);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.animatedButtonContainer button:hover ~ .animatedButtonUnderline:before {
  transform: scale(1);
}

.animatedButtonContainer button:hover {
  color: var(--color-accent);
  cursor: pointer;
}

.animatedButtonRightAligned {
  position: absolute;
  right: 40px;
}

/**
 * Loading-spinner
 * https://loading.io/css/
 */

.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: var(--color-accent);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}
